:root { 
    --webtoon-main-color: #00dc64;
}

#webtoon-redesign {
    padding: 1rem 0;

    .introduction-outer-container {
        margin: 0 auto;
        padding: 0 1rem;

        @media ( max-width: 768px ) { max-width: 550px; }
        @media ( min-width: 769px ) { max-width: 1200px; }
    }

    .webtoon-redesign-container {

        .webtoon-redesign__block {
            padding: 0 1rem;
            &:not(:first-child) { margin-block-start: 5rem; }

            @media ( max-width: 768px ) {
                margin: 4rem auto 0 auto;
                max-width: 550px;
            }
    
            @media ( min-width: 769px ) {
                margin: 6rem auto 0 auto;
                max-width: 1200px;
            }

            h2, h4 {
                color: var(--webtoon-main-color);
                letter-spacing: 2px;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline-start: auto;
                margin-inline-end: auto;

                img { width: 100%; }

                &.top-img { margin-block-end: 4rem; }
                &.middle-img {
                    margin-block-end: 4rem;
                    margin-block-start: 4rem;
                }
                &.bottom-img { margin-block-start: 4rem; }

                &.moodboard, &.ui-one, &.screens-img { max-width: 1100px; }
            }

            .video-wrapper {
                display: flex;
                margin: 4rem auto;
                max-width: 700px;
                width: 100%;

                video {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    display: block;
                    object-fit: cover;
                }
            }

            &.intro {
                h4 { text-align: center; }
                @media ( min-width: 769px ) { margin: 8rem auto 0 auto; }
            }

            &.external-link-section {
                p { max-width: 900px; }
            }

            &.overview {
                #overview-card__container {
                    background-color: #dbfae9;
                    border-radius: 12px;
                    padding: 24px;

                    display: grid;
                    grid-template-columns: 1fr 1.2fr;
                    gap: 24px;

                    @media (max-width: 768px) { grid-template-columns: 1fr; }

                    #overview-card__list,
                    #overview-card__motivation {
                        p {
                            font-size: 1rem;
                            margin-bottom: 12px;
                        }
                    }  
                }
            }

            .temp {
                background-color: #ebebeb;
                border-radius: 12px;
                margin-block-start: 5rem;
                padding: 24px;

                .title, .text { text-align: center;}
            }

        }

        .videogame-interface__image {
            margin: 5rem auto 0 auto;
            max-width: 2000px;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            overflow: hidden;
            width: 100%;            

            @media ( min-width: 769px ) { height: 400px; }
        }
    }
}