#home {

    .introduction {
        max-width: 700px;

        @media ( min-width: 769px ) {
            padding: 0 1rem;
        }

        .introduction__title {
            
        }

        .introduction__text {
            
        }
    }

    .projects-container {
        display: flex;
        margin-block-start: 5rem;

        @media ( max-width: 768px ) {
            flex-direction: column;
            margin: 5rem auto 0 auto;
        }

        @media ( min-width: 769px ) {
            flex-direction: row;
        }
    }
}