#home {

    .introduction {
        max-width: 700px;

        @media ( min-width: 769px ) {
            padding: 0 1rem;
        }
    }

    .projects-container {
        margin-block-start: 5rem;

        @media ( max-width: 768px ) {
            margin: 5rem auto 0 auto;
        }

        @media ( min-width: 769px ) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}