
.card {
    padding: 1rem;
    width: 50%;

    .card__img-container {
        margin: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .card__title {
        font-size: 1.1rem;
        margin: 1.2rem 0 1rem 0;
    }

    .card__description {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}