
#component-system {
    padding: 1rem 0;

    .introduction-outer-container {
        margin: 0 auto;
        padding: 0 1rem;

        @media ( max-width: 768px ) { max-width: 550px; }
        @media ( min-width: 769px ) { max-width: 1200px; }
    }

    .component-system-container {
        @media ( max-width: 768px ) { margin: 4rem auto 0 auto; }
        @media ( min-width: 769px ) { margin: 6rem auto 0 auto; }

        h4 { letter-spacing: 2px; }

        .component-system__summary {
            padding: 0 1rem;

            @media ( max-width: 768px ) {
                margin: 0 auto 4rem auto;
                max-width: 550px;
            }

            @media ( min-width: 769px ) {
                margin: 0 auto 9rem auto;
                max-width: 1200px;
            }

            & > div {
                article {
                    margin-block-start: 2rem;
                    padding: 1rem;

                    @media ( min-width: 769px ) { margin-block-start: 1rem; }

                    h4 {
                        margin: 0 0 1rem 0;
                        text-align: center;
                    }
    
                    p {
                        margin: 0;
                        text-align: center;
                    }
                }

                &.component-system__summary-first {
                    @media ( min-width: 769px ) {
                        display: flex;
                        justify-content: space-between;
                        gap: 1rem;
                    }

                    article {
                        &:first-child { background-color: #c1eaff; }
                        &:nth-child(2) { background-color: #ffc4e4; }

                        @media ( min-width: 769px ) { width: calc(50% - 0.5rem); }
                    }
                }

                &.component-system__summary-second {
                    article {
                        &:first-child { background-color: #c7ffd9; }
                        &:nth-child(2) { background-color: #fff5c1; } 
                    }
                }
            } 

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                margin: 4rem auto 0 auto;

                img {
                    @media ( max-width: 768px ) { width: 100%; }
                    @media ( min-width: 769px ) { width: 70%; }
                }
            }
        }

        .component-system__info {
            padding: 0 1rem;

            @media ( max-width: 768px ) {
                margin: 3rem auto 0 auto;
                max-width: 550px;
            }

            @media ( min-width: 769px ) {
                margin: 5rem auto 0 auto;
                max-width: 1200px;
            }

            &.columns, &.skins, &.variants {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media ( min-width: 769px ) {
                    flex-direction: row;
                    gap: 2rem;
                }

                figure {
                    margin: 0 auto;
                    img { width: 100%; }
                }
            }

            &.columns, &.skins {
                @media ( min-width: 769px ) {
                    & > div { width: calc(55% - 0.5rem); }
                    & > figure { width: calc(45% - 0.5rem); }
                }

                figure {
                    img { max-width: 700px; }
                }
            }

            &.variants {
                & > div, & > figure {
                    @media ( min-width: 769px ) { width: calc(50% - 0.5rem); }
                }

                @media ( max-width: 768px ) {
                    & > div { order: 1; }
                    & > figure { order: 2; }
                }

                @media ( min-width: 769px ) {
                    & > div { width: calc(60% - 0.5rem); }
                    & > figure { width: calc(40% - 0.5rem); }
                }

                figure {
                    img { max-width: 404px; }
                }
            }

            &.learned {
                background-color: rgb(238, 238, 238);
                padding: 0.5rem 2rem;
                
                h4 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    span {
                        &.emoji {
                            font-size: 2rem;
                            padding: 0 1rem;
                        }
                    }
                }

                p { text-align: center; }
            }

            &.maintenance {
                @media ( max-width: 768px ) { margin-block-start: 4rem; }

                h4 { text-align: center; }
                p { text-align: center; }
            }
        }

        .component-system__image {
            margin: 5rem auto 0 auto;
            max-width: 2000px;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            overflow: hidden;
            width: 100%;            

            @media ( min-width: 769px ) { height: 400px; }
        }

    }
}
