
#challenges {
    padding: 1rem;
    @media ( max-width: 768px ) { max-width: 550px; }
    @media ( min-width: 769px ) { max-width: 1200px; }

    .challenges-container {
        margin-block-start: 6rem;
        @media ( max-width: 768px ) {  margin: 6rem auto 0 auto;  }
        @media ( min-width: 769px ) { padding: 0 1rem; }

        & > div {
            &:not(:first-child) { margin-block-start: 6rem; }

            p {
                @media ( min-width: 769px ) {
                    margin-inline-start: auto;
                    margin-inline-end: auto;
                    max-width: 900px;
                }
            }

            .challlenges__preview {
                background-size: 100% auto;
                background-position: center;
                background-repeat: no-repeat;
                margin: 2rem auto;
                max-width: 900px;
                overflow: hidden;
                width: 100%;
                height: 320px;

                img {
                    display: flex;
                    height: auto;
                    margin: 0 auto;
                    max-width: 300px;
                    width: 100%;
                }

                &.signup {
                    background-color: #fba2ff;
                    background-position-x: -65px;
                    background-size: 105% auto;
                    @media ( max-width: 768px ) { background-size: 120% auto; }
                }

                &.checkout {
                    background-color: #c5fcd2;
                    background-size: 75% auto;
                    @media ( max-width: 768px ) { background-size: 130% auto; }
                }

                &.calculator {
                    background-color: #fda1c1;
                    @media ( max-width: 768px ) { background-size: 130% auto; }

                }
                
                &.homepage {
                    background-color: #3d9cfb;
                    @media ( min-width: 769px ) { background-size: 55% auto; }
                }
            }

            .challlenges__images {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 2rem auto;

                img {
                    height: auto;
                    margin-block-start: 2rem;
                    width: 100%;

                    @media ( max-width: 768px ) { margin: 1rem auto; }
                }
            }
            
            .view-more { max-width: 900px; }
        }
    }
}
